* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}

/********** top container-weather **********/
.top_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex: 0 1 10%;
}

div#weather {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

/********** clock **********/
.clock_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 0 1 45%;
}
h2#clock {
  font-size: 170px;
  margin-bottom: -30px;
}

/********** greeting **********/
.greeting_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 0 1 15%;
}
#login-form > input {
  border: none;
  border-bottom: 2px solid white;
  background: none;
  text-align: center;
  font-size: 50px;
}

#login-form > input::placeholder {
  color: white;
  text-align: center;
}

#greeting {
  font-size: 50px;
}

/********** todo **********/
.todo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 20%;
}

#todo-form > input {
  border: none;
  border-bottom: 2px solid white;
  background: none;
  width: 500px;
  font-size: 30px;
  text-align: center;
}

#todo-form > input::placeholder {
  color: white;
  text-align: center;
  font-size: 30px;
}

#todo-list {
  width: 40%;
  height: 100px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* todo-list 스크롤바 */
#todo-list::-webkit-scrollbar {
  width: 10px;
}
#todo-list::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
#todo-list::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

/*todo-list 리스트*/
#todo-list > li {
  font-size: 30px;
  list-style: none;
}

#todo-list > li > input {
  margin-right: 10px;
}

#todo-list > li > button {
  background: none;
  border: none;
  margin: 10px;
}

/********** quote **********/
#quote {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 10%;
  padding: 2em;
}
